@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-white text-slate-900;
  }
}
